{% extends "base.html.twig" %}

{% block content %}
    <h1>Projects</h1>

    {% if app.user %}
        <a href="{{ path('create_project') }}" class="btn btn-success">New</a>
    {% endif %}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Client</th>
            <th scope="col">Company</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}

            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.title }}</td>
                <td>{{ project.description|default('-') }}</td>
                <td>{{ project.client|default('-') }}</td>
                <td>{{ project.company|default('-') }}</td>
                <td>
                    <a href="{{ path('list_tasks', {projectId: project.id}) }}" class="btn btn-sm btn-info">TASKS</a>

                    {% if app.user %}
                        <a href="{{ path('delete_project', {id: project.id}) }}"
                           class="btn btn-sm btn-danger">DELETE</a>
                    {% endif %}
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
{% endblock %}